body {
    margin: 0;
    padding: 0;
    background: #171717;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 102px;
    line-height: 1;
    font-weight: 900;
    color: #00CA85;
    margin: 25px 0 0;

    span {
        color: #FFCE00;
        font-weight: 300;
    }
}

h3 {
    color: #F3F3F3;
    font-size: 68px;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 25px;

    span {
        font-weight: 900;

    }
}


h5 {
    color: #F3F3F3;
    font-size: 32px;
    margin: 15px;
    text-transform: uppercase;
}

main {
    width: 100vw;
    display: flex;
    justify-content: space-around;

    section {
        width: 100%;
        max-width: 832px;
        height: 100vh;
        max-height: 450px;
        background: #313131;
        margin-bottom: 25px;
    }
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 15px;

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #171717;

        &:nth-child(1) {
            grid-column: 1/2;
            background: #00CA85;
        }

        &:nth-child(2) {
            grid-column: 1/3;
            background: #F3F3F3;
        }

        &:nth-child(3) {
            background: #FFCE00;
            grid-column: 3/4;
            grid-row: 1/3;

        }

        &:nth-child(4) {
            background: #0085CA;
            grid-row: 1/2;
            grid-column: 2/3;


        }

    }

}

#flex {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    .col {
        display: flex;
        flex-flow: column;

        &.two {
            flex: 2;
        }

        &.one {
            flex: 1;
        }
    }

    .row {
        display: flex;
        flex-flow: row;
        flex: 1;
    }

    .box {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;

        &.white {
            background: #F3F3F3;
        }

        &.blue {
            background: #0085CA;
        }

        &.green {
            background: #00CA85;
        }

        &.yellow {
            background: #FFCE00;
        }
    }
}